*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

#board {
    background: linear-gradient(to bottom, skyblue, rgb(210, 240, 252));
    border-bottom: 8px dashed black;
    /* Estilos para o board */
    width: 90vw; /* 90% da largura da janela */
    height: 60vh; /* 60% da altura da janela */
    position: relative;
    overflow: hidden;
}

.personagem{
    position: absolute;
    bottom: 0;
    
    left: 30%;
}

.jump{
    animation: jump 1000ms  ease-out;
}

.obstaculo {
    position: absolute;
    bottom: 0;
}

/* Estilos específicos para cada obstáculo (ajuste conforme necessário) */
.obstaculo:nth-child(1) {
    right: -100px;
    animation: obstaculo-animation 2s linear infinite; /* Velocidade pode ser ajustada conforme necessário */
}

.obstaculo:nth-child(2) {
    right: -100px;
    animation: obstaculo-animation 5s linear infinite;
}

.obstaculo:nth-child(3) {
    right: -100px;
    animation: obstaculo-animation 3s linear infinite;
}

@keyframes obstaculo-animation {
    0% {
        left: 100%; /* Inicia fora da tela à direita */
    }
    100% {
        left: -20%; /* Termina fora da tela à esquerda (com margem extra para garantir que o obstáculo não apareça abruptamente) */
    }
}

@keyframes jump {
    0% {
        bottom: 0;
    }
    10% {
        bottom: 15%;
    }
    20% {
        bottom: 25%;
    }
    30% {
        bottom: 35%;
    }
    40% {
        bottom: 45%;
    }
    50% {
        bottom: 50%;
    }
    60% {
        bottom: 45%;
    }
    70% {
        bottom: 35%;
    }
    80% {
        bottom: 25%;
    }
    90% {
        bottom: 15%;
    }
}
